<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6 text-center">
          <%= image_tag(@product.photo, class:"image_product_show")  %>
        </div>
        <div class="col-lg-6">
          <%= @product.name %>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="background-color p-3">
        <h1 class="productor">producteur</h1>
        <%= image_tag(@product.productor.avatar, class:"image-productor") %>
        <div class="my-2">
          <span class="productor"><%= @product.productor.acting_as.first_name %></span> <b class="productor"><%= @product.productor.acting_as.last_name %></b>
        </div>
        <div class="text-white text-left mt-4">
          <%= @product.productor.description %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <%= @product.description %>
</div>

<div>
  <%= @product.price %>
</div> -->
