
<h1 class="text-center title-home">Votre Panier</h1>
<div class="container">
  <% @order_products.each_with_index do |op, index| %>
    <%= index + 1 %> - <%= op.product.name %> - <%= op.price %> - <%= op.quantity %>
    <hr>
  <% end %>
   Montant Total de votre commande : <%= @order.amount %>

   <%= form_tag orders_path do %>
      <%= hidden_field_tag 'customer_id', current_user.id %>
      <%= submit_tag 'Commander', class: 'btn btn-primary' %>
    <% end %>
</div>


